$layout-width-inner: 1030px;

// ブレークポイント
$breakpoints: (
  "sp": "screen and (max-width: 767px)",
  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
  "pc": "screen and (min-width: #{$layout-width-inner})",
);
// メディアクエリー
@mixin mq($breakpoint: sp) {

  @media #{map-get($breakpoints, $breakpoint)} {

    @content;
  }
}

.footer {
  background: #1B1310;
  color: #FFF;
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 19px;
  padding: 29px 0;
  text-align: center;
  @include mq('sp') {
    padding: 20px 0;
  }
}