$layout-width-inner: 1030px;
// ブレークポイント
$breakpoints: (
  "sp": "screen and (max-width: 767px)",
  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
  "pc": "screen and (min-width: #{$layout-width-inner})",
);
// メディアクエリー
@mixin mq($breakpoint: sp) {

  @media #{map-get($breakpoints, $breakpoint)} {

    @content;
  }
}

html {
  font-size: 10px;
}

body {
  background: #FFF;
  color: #141414;
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  line-height: 1;
  &.noscroll {
    overflow: hidden;
  }
}

a {
  display: inline-block;
  text-decoration: none;
  &:hover {
    opacity: 70%;
    transition: .5s;
  }
}

img {
  vertical-align: middle;
  width: 100%;
}

.flex-box {
  display: flex;
  justify-content: space-between;
  @include mq('sp') {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}