$layout-width-inner: 1200px;

// ブレークポイント
$breakpoints: (
  "sp": "screen and (max-width: 767px)",
  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
  "pc": "screen and (min-width: #{$layout-width-inner})",
);
// メディアクエリー
@mixin mq($breakpoint: sp) {

  @media #{map-get($breakpoints, $breakpoint)} {

    @content;
  }
}

.nav {
  & ul {
    display: flex;
  }
  & li {
    margin-right: 55px;
    &:last-of-type {
      margin-right: 0;
    }
    & a {
      color: #FFF;
      font-size: 16px;
    }
  }
  @include mq('sp') {
    &-wrapper {
      display: none;
      height: 100vh;
      left: 0;
      position: fixed;
      top: 0;
      width: 100vw;
      z-index: 2;
    }
    background: #1B1310;
    height: 100%;
    width: 100%;
    z-index: 2;
    & ul {
      display: block;
      left: 50%;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    & li {
      margin-bottom: 40px;
      margin-right: 0;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}